* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 70em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 60em) {
    html {
      font-size: 62.5%; } }

body {
  background: #090b1a;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  color: white; }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 85%;
  max-width: 110rem;
  min-height: 44rem;
  border-radius: 10px;
  background: #1b1938;
  overflow: hidden; }
  @media only screen and (max-width: 60em) {
    .container {
      flex-direction: column-reverse;
      width: 60%;
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      margin: 5vh auto; } }
  @media only screen and (max-width: 50em) {
    .container {
      width: 85%; } }

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 50%;
  padding: 6rem 10rem 6rem 7rem; }
  @media only screen and (max-width: 80em) {
    .content {
      padding: 4rem 7.5rem 4rem 5rem; } }
  @media only screen and (max-width: 70em) {
    .content {
      padding: 4rem; } }
  @media only screen and (max-width: 60em) {
    .content {
      align-items: center;
      text-align: center;
      flex: 1 1 40rem; } }

@media only screen and (max-width: 60em) {
  .details {
    margin-bottom: 5rem; } }

.title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 50em) {
    .title {
      font-size: 3rem; } }

.violet {
  color: #aa5cdb; }

.paragraph {
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.8; }

.stats {
  display: flex; }
  @media only screen and (max-width: 50em) {
    .stats {
      flex-direction: column; } }
  .stats__block {
    display: inline-block; }
    .stats__block:not(:last-child) {
      margin-right: 5rem; }
      @media only screen and (max-width: 70em) {
        .stats__block:not(:last-child) {
          margin-right: 7rem; } }
      @media only screen and (max-width: 50em) {
        .stats__block:not(:last-child) {
          margin-right: 0;
          margin-bottom: 3rem; } }
    .stats__block-number {
      font-size: 2.6rem;
      font-weight: 700;
      margin-bottom: .8rem; }
    .stats__block-heading {
      font-family: 'Lexend Deca', sans-serif;
      font-size: 1.3rem;
      color: rgba(255, 255, 255, 0.6);
      text-transform: uppercase;
      letter-spacing: .1rem; }

.imgdiv {
  flex: 1 1 50%;
  background-color: #aa5cdb; }
  .imgdiv__image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    opacity: .85; }
